body{
    background-color: #fbbd48;
}
img{
    height: 220px;
    width: 250px;
float: left;
}
.back
{
    border: 10px;
     background-color: lightblue;
    padding: 20px 469px;
display: inline-block;
}

h1{
    color: darkred;
    font-family: "Montserrat",sans-serif;
     font-style: italic;
     justify-content:space-between;
      font-size: 40px;
      font-weight: 800;
    margin: 10px -290px;
}

p{
    color: black;
    font-size: 30px;
    float: right;
    padding:  0px 60px;
        font-family: "Montserrat",sans-serif;
     font-style: italic;
    font-weight: 600;
     justify-content:space-between;
    margin: 0px -96px;

}
.vl {
  border-left: 6px solid green;
  height: 849px;
  position: absolute;
  left: 30%;
  margin-left: -135px;
  top: 5;
}
.para{
    display: inline;
    float: left;
    font-size: 20px;
    margin: 250px -290px;
}
.mai{
    display: inline-block;
    font-size: 20px;
}
span{
   text-align: center;
}
}